{
	"root": true,
	"extends": [
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"env": {
		"browser": true,
		"es6": true
	},
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		},
		"project": "./tsconfig.json"
	},
	"plugins": [
		// "@typescript-eslint/eslint-plugin",
		// "react",
		// "prettier",
		"jsx-a11y",
		"import",
		"fp"
	],
	"rules": {
		"react/jsx-no-bind": "off",
		"no-irregular-whitespace": "warn",
		"no-trailing-spaces": "warn",
		"arrow-parens": ["error", "always"],
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [".js", ".jsx", ".tsx"]
			}
		],
		"prefer-spread": "error",
		"prefer-template": "error",
		"no-console": "warn",
		//"prettier/prettier": "error",
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": "warn",
		"jsx-a11y/anchor-is-valid": "warn",
		"valid-typeof": "off",
		"@typescript-eslint/interface-name-prefix": [2, "always"],
		"import/no-cycle": [0, "never"],
		//"import/no-unresolved": "error",
		
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-non-null-assertion": "off",
		"@typescript-eslint/no-non-null-asserted-optional-chain": "off",
		"@typescript-eslint/no-empty-function": "warn",

		// Functional programming errors
		//"fp/no-arguments": "error",
		"fp/no-class": "off",
		// "fp/no-delete": "error",
		// "fp/no-events": "error",
		// "fp/no-get-set": "error",
		// "fp/no-let": "error",
		// "fp/no-loops": "error",
		// "fp/no-mutating-assign": "error",
		// "fp/no-mutating-methods": "error",
		"fp/no-mutation": "off",
		"fp/no-nil": "off",
		//"fp/no-proxy": "error",
		// "fp/no-rest-parameters": "error",
		"fp/no-this": "off",
		//"fp/no-throw": "error",
		"fp/no-unused-expression": "off",
		"import/prefer-default-export": "off"
		// "fp/no-valueof-field": "error",
		// "no-var": "error"
	},
	"settings": {
		"import/parsers": {
			"@typescript-eslint/parser": [".ts", ".tsx"]
		},
		"import/resolver": {
			"typescript": {}
		},
		"react": {
			"version": "detect"
		}
	},
	"overrides": [
		{
			"files": ["*.d.ts", "*.ts", "*.tsx"],
			"rules": {
				"@typescript-eslint/no-unused-vars": [
					2,
					{
						"args": "none"
					}
				],
				"no-unused-vars": "off",
				"@typescript-eslint/interface-name-prefix": [0, "never"]
			}
		}
	]
}
