body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.action-item {
	width: calc(100% + 24px);
	margin: 0 -12px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.change-levers-ul {
	margin-bottom: 0;
}

// Yes - I hate myself for using !important
.MuiDialog-paperFullWidth {
	width: calc(100% - 32px) !important;
	margin: 16px !important;
}

.list-item-padded {
	padding-right: calc(48px * 2 + 8px) !important;
}

.truncate {
	&.list-item {
		flex: 1 1 100% !important;
	}

	> *:first-child {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
}

#root {
	.ul-list {
		list-style: disc;
		padding-left: 24px;
		padding-top: 0;
		padding-bottom: 0;
	}

	.content-area {
		p,
		ul,
		ol {
			margin: 12px 0;
		}

		.list-describer {
			margin-bottom: 4px;

			+ ul,
			+ ol {
				margin-top: 4px;
			}
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	width: 1px;
	height: 1px;
	word-wrap: normal;

	&.focusable:focus {
		position: absolute !important;
		left: 0.5rem !important;
		top: 0.5rem !important;
		overflow: visible;
		clip: auto;
		width: auto;
		height: auto;
		z-index: 99999;
	}
}

.MuiTooltip-tooltip {
	font-size: 0.75rem !important;
}

.download-link {
	color: white;
	background-color: #3f51b5;
	border: 2px solid white;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
	margin-right: 15px;
	font-weight: bold;
	&:hover {
		background-color: rgb(44, 56, 126);
	}
}

#footerID {
	@media only screen and (max-width: 800px) {		
		width: 100%;
	}
}

#floatFull {
	@media only screen and (max-width: 800px) {		
		width: 100%;
	}
}

#flexLeft { 
	justify-content: space-around;
	@media only screen and (max-width: 800px) {		
		justify-content: flex-start ;
	}
}
